.recent-posts{
    margin-top: 100px;
    font-family: 'Roboto',sans-serif;

    .recent-posts-container{
        display: grid;
        margin-left: 100px;

        .left{
            width: 50%;

            .rp-box{
                display: grid;
                gap: 50px;
             

                h3{
                    font-size: 17px;
                    letter-spacing: 0.5px;
                    font-weight: 800;
                    color: $side-nav-color;
                    text-transform: uppercase;
                    margin: 30px 0 10px 0;
                }

                .recent-ps-cards{
                    display: grid;
                    gap: 50px;
                    grid-template-columns: repeat(2, 60%);


                    .rp-card1,.rp-card2,.rp-card3,
                    .rp-card4{
                        padding: 15px;
                        cursor: pointer;
                }

                h4{
                    color: $primary-color;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 500;
                    padding: 10px 0;
                }

                p{
                    color: $black-color;
                    font-size: 16px;
                    letter-spacing: 1px;
                    font-weight: 600;
                    margin-left: 2px;

                    &:hover{
                        color: $primary-color;
                    }
                }

                .info{
                    display: flex;
                    align-items: center;
                    color: $text-color;
                    padding: 10px 0;
                    margin-left: 2px;

                    h5{
                        font-size: 13px;
                        font-weight: 600;
                        letter-spacing: 1px;
                    }

                    h6{
                        font-size: 12px;
                        padding-left: 10px;
                        margin-top: 2px;
                        font-weight: 400;
                    }
                }
            }

        }

    }
}
}