/******NavBar Section Style******/


.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 10px 100px;

    .top-side{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        padding-bottom: 10px;
        

        .links{
            
            i{
                padding: 0 10px ;
                transition: all 0.4s;
                cursor: pointer;
                &:hover{
                    color: $primary-color;
                }
            }
        }

        .logo{
            margin-right: 150px;
            cursor: pointer;

            img{
                width: 100%;
                height: 45px;
            }
        }

        .search{
            cursor: pointer;

            .search-input{
                background-color: $input-bg-color;
                width: 50vw;
                height: 15vh;
                position: absolute;
                transform: translateX(-125%);
                top: 65px;
                box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
                visibility: hidden;

                input{
                    background: none;
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    color: $white-color;
                    // border: none;
                    padding: 20px 480px 20px 20px;
                    margin: 25px 55px;

                    &::placeholder{
                        font-size: 17px;
                    }
                }

                .clear-icon{
                    i{
                        color: #e4e4e4;
                        position: absolute;
                        bottom: 85px;
                        right: 5px;
                        font-size: 20px;
                    }
                }
            }

            &:hover .search-input{
                visibility: visible;
            }
        }
    }

    .bottom-side{
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        padding-bottom: 10px;
        width: 100%;

        .nav{
            margin: 10px 0;
            
            ul{
                display: flex;
                justify-content: center;

                li{
                    padding: 0 20px;

                    a{
                        font-size: 16px;
                        font-family: $primary-font;
                        color: $black-color;
                        font-weight: 500;
                        text-transform: uppercase;
                        transition: all 0.4s;

                        &:hover{
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}