/*****colors****/

$primary-color:#ED435E;
$white-color:#fff;
$black-color:#000;
$text-color:#aaaaaa;
$input-bg-color:#1B1C1E;
$side-nav-color:#222936;
$button-color: #6e6d6d8c;
$facebook: #3a3afc;
$twitter:  #1DA1F2;
$google: rgb(219, 85, 85);
$ig: #f571e5;




/******Fonts****/
$primary-font: "Roboto",sans-serif;
$text-font: "Open Sans", sans-serif;