/*****colors****/

$primary-color:#ED435E;
$white-color:#fff;
$black-color:#000;
$text-color:#aaaaaa;
$input-bg-color:#1B1C1E;
$side-nav-color:#222936;




/******Fonts****/
$primary-font: "Roboto",sans-serif;
$text-font: "Open Sans", sans-serif;