/*****General Code*****/
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1000px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::-moz-selection {
  color: #fff;
  background: #ED435E;
}

::selection {
  color: #fff;
  background: #ED435E;
}

/*****colors****/
/******Fonts****/
/******NavBar Section Style******/
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .top-side {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 10px;
}
.header .top-side .links i {
  padding: 0 10px;
  transition: all 0.4s;
  cursor: pointer;
}
.header .top-side .links i:hover {
  color: #ED435E;
}
.header .top-side .logo {
  margin-right: 150px;
  cursor: pointer;
}
.header .top-side .logo img {
  width: 100%;
  height: 45px;
}
.header .top-side .search {
  cursor: pointer;
}
.header .top-side .search .search-input {
  background-color: #1B1C1E;
  width: 50vw;
  height: 15vh;
  position: absolute;
  transform: translateX(-125%);
  top: 65px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
.header .top-side .search .search-input input {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 20px 480px 20px 20px;
  margin: 25px 55px;
}
.header .top-side .search .search-input input::-moz-placeholder {
  font-size: 17px;
}
.header .top-side .search .search-input input::placeholder {
  font-size: 17px;
}
.header .top-side .search .search-input .clear-icon i {
  color: #e4e4e4;
  position: absolute;
  bottom: 85px;
  right: 5px;
  font-size: 20px;
}
.header .top-side .search:hover .search-input {
  visibility: visible;
}
.header .bottom-side {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 10px;
  width: 100%;
}
.header .bottom-side .nav {
  margin: 10px 0;
}
.header .bottom-side .nav ul {
  display: flex;
  justify-content: center;
}
.header .bottom-side .nav ul li {
  padding: 0 20px;
}
.header .bottom-side .nav ul li a {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.4s;
}
.header .bottom-side .nav ul li a:hover {
  color: #ED435E;
}

/**Hero Section Style**/
.hero {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
}
.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hero .container .left-side {
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.8)), url("../img/pexels-koolshooters-8530484.jpg") center center/cover;
  width: 52vw;
  height: 70.7vh;
  cursor: pointer;
  background-position: center/cover;
  background-repeat: no-repeat;
  transition: ease-in-out 2s;
  animation-duration: 0.5s;
  scroll-behavior: smooth;
}
.hero .container .left-side:hover {
  transition: 0.5s;
  background-size: 180%;
}
.hero .container .left-side .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 40px;
  gap: 10px;
}
.hero .container .left-side .container h5 {
  color: #ED435E;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.hero .container .left-side .container h2 {
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
}
.hero .container .left-side .container h2:hover {
  color: #ED435E;
}
.hero .container .left-side .container .info {
  display: flex;
  align-items: center;
  color: #fff;
}
.hero .container .left-side .container .info h4 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
}
.hero .container .left-side .container .info h6 {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 2px;
  font-weight: 400;
}
.hero .container .right-side {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hero .container .right-side .top-side {
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("../img/pexels-ton-souza-4596468.jpg") center top/cover;
  width: 26vw;
  height: 35vh;
  transition: all 0.5s;
  cursor: pointer;
}
.hero .container .right-side .top-side:hover {
  transform: scale(1.03);
  border-left: 3px solid #fff;
}
.hero .container .right-side .top-side .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
  gap: 10px;
}
.hero .container .right-side .top-side .container h5 {
  color: #ED435E;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.hero .container .right-side .top-side .container h2 {
  color: #fff;
  font-size: 19px;
  letter-spacing: 1px;
}
.hero .container .right-side .top-side .container h2:hover {
  color: #ED435E;
}
.hero .container .right-side .top-side .container .info {
  display: flex;
  align-items: center;
  color: #fff;
}
.hero .container .right-side .top-side .container .info h4 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
}
.hero .container .right-side .top-side .container .info h6 {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 2px;
  font-weight: 400;
}
.hero .container .right-side .bottom-side {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgb(0, 0, 0)), url("../img/Hero-3.webp") center center/cover;
  width: 26vw;
  height: 35vh;
  transition: all 0.5s;
  cursor: pointer;
}
.hero .container .right-side .bottom-side:hover {
  transform: scale(1.01);
  box-shadow: none;
}
.hero .container .right-side .bottom-side .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 30px 20px;
  gap: 10px;
}
.hero .container .right-side .bottom-side .container h5 {
  color: #ED435E;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.hero .container .right-side .bottom-side .container h2 {
  color: #fff;
  font-size: 19px;
  letter-spacing: 1px;
}
.hero .container .right-side .bottom-side .container h2:hover {
  color: #ED435E;
}
.hero .container .right-side .bottom-side .container .info {
  display: flex;
  align-items: center;
  color: #fff;
}
.hero .container .right-side .bottom-side .container .info h4 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
}
.hero .container .right-side .bottom-side .container .info h6 {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 2px;
  font-weight: 400;
}

.section2-container {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 100px;
}
.section2-container .rp-box {
  margin: 0px 60px;
}
.section2-container .rp-box .rp-heading {
  font-size: large;
  color: #1B1C1E;
  margin-left: 50px;
}
.section2-container .rp-box .recent-ps-cards {
  margin: 10px 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section2-container .rp-box .recent-ps-cards .rp-card1, .section2-container .rp-box .recent-ps-cards .rp-card2, .section2-container .rp-box .recent-ps-cards .rp-card3,
.section2-container .rp-box .recent-ps-cards .rp-card4 {
  padding: 20px;
  cursor: pointer;
}
.section2-container .rp-box .recent-ps-cards .rp-card1 .rp-img1, .section2-container .rp-box .recent-ps-cards .rp-card2 .rp-img1, .section2-container .rp-box .recent-ps-cards .rp-card3 .rp-img1,
.section2-container .rp-box .recent-ps-cards .rp-card4 .rp-img1 {
  background: url("https://images.pexels.com/photos/1271619/pexels-photo-1271619.jpeg") center center/cover;
  width: 25vw;
  height: 35vh;
  transition: all 0.5s;
}
.section2-container .rp-box .recent-ps-cards .rp-card1 .rp-img1:hover, .section2-container .rp-box .recent-ps-cards .rp-card2 .rp-img1:hover, .section2-container .rp-box .recent-ps-cards .rp-card3 .rp-img1:hover,
.section2-container .rp-box .recent-ps-cards .rp-card4 .rp-img1:hover {
  background-size: 120%;
}
.section2-container .rp-box .recent-ps-cards .rp-card1 .rp-img2, .section2-container .rp-box .recent-ps-cards .rp-card2 .rp-img2, .section2-container .rp-box .recent-ps-cards .rp-card3 .rp-img2,
.section2-container .rp-box .recent-ps-cards .rp-card4 .rp-img2 {
  background: url("https://images.pexels.com/photos/919734/pexels-photo-919734.jpeg") center center/cover;
  width: 25vw;
  height: 35vh;
  transition: all 0.5s;
}
.section2-container .rp-box .recent-ps-cards .rp-card1 .rp-img2:hover, .section2-container .rp-box .recent-ps-cards .rp-card2 .rp-img2:hover, .section2-container .rp-box .recent-ps-cards .rp-card3 .rp-img2:hover,
.section2-container .rp-box .recent-ps-cards .rp-card4 .rp-img2:hover {
  background-size: 120%;
}
.section2-container .rp-box .recent-ps-cards .rp-card1 .rp-img3, .section2-container .rp-box .recent-ps-cards .rp-card2 .rp-img3, .section2-container .rp-box .recent-ps-cards .rp-card3 .rp-img3,
.section2-container .rp-box .recent-ps-cards .rp-card4 .rp-img3 {
  background: url("https://images.pexels.com/photos/3076509/pexels-photo-3076509.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center center/cover;
  width: 25vw;
  height: 35vh;
  transition: all 0.5s;
}
.section2-container .rp-box .recent-ps-cards .rp-card1 .rp-img3:hover, .section2-container .rp-box .recent-ps-cards .rp-card2 .rp-img3:hover, .section2-container .rp-box .recent-ps-cards .rp-card3 .rp-img3:hover,
.section2-container .rp-box .recent-ps-cards .rp-card4 .rp-img3:hover {
  background-size: 120%;
}
.section2-container .rp-box .recent-ps-cards .rp-card1 .rp-img4, .section2-container .rp-box .recent-ps-cards .rp-card2 .rp-img4, .section2-container .rp-box .recent-ps-cards .rp-card3 .rp-img4,
.section2-container .rp-box .recent-ps-cards .rp-card4 .rp-img4 {
  background: url("https://images.pexels.com/photos/1034940/pexels-photo-1034940.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center center/cover;
  width: 25vw;
  height: 35vh;
  transition: all 0.5s;
}
.section2-container .rp-box .recent-ps-cards .rp-card1 .rp-img4:hover, .section2-container .rp-box .recent-ps-cards .rp-card2 .rp-img4:hover, .section2-container .rp-box .recent-ps-cards .rp-card3 .rp-img4:hover,
.section2-container .rp-box .recent-ps-cards .rp-card4 .rp-img4:hover {
  background-size: 120%;
}
.section2-container .rp-box .recent-ps-cards .rp-card1 .desc, .section2-container .rp-box .recent-ps-cards .rp-card2 .desc, .section2-container .rp-box .recent-ps-cards .rp-card3 .desc,
.section2-container .rp-box .recent-ps-cards .rp-card4 .desc {
  background-color: #fff;
  position: relative;
  bottom: 50px;
  left: 20px;
  padding: 20px;
  width: 25vw;
}
.section2-container .rp-box .recent-ps-cards .rp-card1 .desc h4, .section2-container .rp-box .recent-ps-cards .rp-card2 .desc h4, .section2-container .rp-box .recent-ps-cards .rp-card3 .desc h4,
.section2-container .rp-box .recent-ps-cards .rp-card4 .desc h4 {
  color: #ED435E;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 0;
}
.section2-container .rp-box .recent-ps-cards .rp-card1 .desc p, .section2-container .rp-box .recent-ps-cards .rp-card2 .desc p, .section2-container .rp-box .recent-ps-cards .rp-card3 .desc p,
.section2-container .rp-box .recent-ps-cards .rp-card4 .desc p {
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-left: 2px;
}
.section2-container .rp-box .recent-ps-cards .rp-card1 .desc p:hover, .section2-container .rp-box .recent-ps-cards .rp-card2 .desc p:hover, .section2-container .rp-box .recent-ps-cards .rp-card3 .desc p:hover,
.section2-container .rp-box .recent-ps-cards .rp-card4 .desc p:hover {
  color: #ED435E;
}
.section2-container .rp-box .recent-ps-cards .rp-card1 .desc .info, .section2-container .rp-box .recent-ps-cards .rp-card2 .desc .info, .section2-container .rp-box .recent-ps-cards .rp-card3 .desc .info,
.section2-container .rp-box .recent-ps-cards .rp-card4 .desc .info {
  display: flex;
  align-items: center;
  color: #aaaaaa;
  padding: 10px 0;
  margin-left: 2px;
}
.section2-container .rp-box .recent-ps-cards .rp-card1 .desc .info h5, .section2-container .rp-box .recent-ps-cards .rp-card2 .desc .info h5, .section2-container .rp-box .recent-ps-cards .rp-card3 .desc .info h5,
.section2-container .rp-box .recent-ps-cards .rp-card4 .desc .info h5 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}
.section2-container .rp-box .recent-ps-cards .rp-card1 .desc .info h6, .section2-container .rp-box .recent-ps-cards .rp-card2 .desc .info h6, .section2-container .rp-box .recent-ps-cards .rp-card3 .desc .info h6,
.section2-container .rp-box .recent-ps-cards .rp-card4 .desc .info h6 {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 2px;
  font-weight: 400;
}

.right .sidenav {
  display: grid;
  justify-content: end;
  margin-top: 60px;
}
.right .sidenav .social-heading {
  font-size: large;
  color: #1B1C1E;
}
.right .sidenav .socials {
  display: flex;
  margin-top: 40px;
}
.right .sidenav .socials .facebook {
  padding: 50px 30px;
  background-color: #3a3afc;
  justify-content: center;
}
.right .sidenav .socials .facebook h5 {
  color: #fff;
  font-size: large;
  font-weight: 600;
  margin: 10px;
  text-align: center;
}
.right .sidenav .socials .facebook p {
  color: #fff;
  font-size: large;
  font-weight: 700;
  text-align: center;
}
.right .sidenav .socials .facebook i {
  color: #fff;
  font-size: 30px;
  padding-left: 20px;
  text-align: center;
}
.right .sidenav .socials .facebook:hover {
  opacity: 90%;
  cursor: pointer;
}
.right .sidenav .socials .twitter {
  padding: 50px 30px;
  background-color: #1DA1F2;
}
.right .sidenav .socials .twitter h5 {
  color: #fff;
  font-size: large;
  font-weight: 600;
  margin: 10px;
  text-align: center;
}
.right .sidenav .socials .twitter p {
  color: #fff;
  font-size: large;
  font-weight: 700;
  text-align: center;
}
.right .sidenav .socials .twitter i {
  color: #fff;
  font-size: 30px;
  padding-left: 20px;
  text-align: center;
}
.right .sidenav .socials .twitter:hover {
  opacity: 90%;
  cursor: pointer;
}
.right .sidenav .socials .google {
  padding: 50px 30px;
  background-color: rgb(219, 85, 85);
}
.right .sidenav .socials .google h5 {
  color: #fff;
  font-size: large;
  font-weight: 600;
  margin: 10px;
}
.right .sidenav .socials .google p {
  color: #fff;
  font-size: large;
  font-weight: 700;
}
.right .sidenav .socials .google i {
  color: #fff;
  font-size: 30px;
  padding-left: 20px;
}
.right .sidenav .socials .google:hover {
  opacity: 90%;
  cursor: pointer;
}

/**Lifestyle ==> Technology & Health Section Style**/
.posts {
  font-family: "Roboto", sans-serif;
}
.posts .container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.posts .container .left-side {
  width: 50%;
}
.posts .container .left-side .box {
  display: flex;
  flex-direction: column;
}
.posts .container .left-side .box h3 {
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 800;
  color: #222936;
  text-transform: uppercase;
  margin: 30px 0 10px 0;
}
.posts .container .left-side .box .cards {
  display: flex;
  justify-content: center;
}
.posts .container .left-side .box .cards .card1, .posts .container .left-side .box .cards .card2, .posts .container .left-side .box .cards .card3,
.posts .container .left-side .box .cards .card4, .posts .container .left-side .box .cards .card5, .posts .container .left-side .box .cards .card6,
.posts .container .left-side .box .cards .card7, .posts .container .left-side .box .cards .card8, .posts .container .left-side .box .cards .card9 {
  padding: 15px;
  cursor: pointer;
}
.posts .container .left-side .box .cards .card1 .img, .posts .container .left-side .box .cards .card2 .img, .posts .container .left-side .box .cards .card3 .img,
.posts .container .left-side .box .cards .card4 .img, .posts .container .left-side .box .cards .card5 .img, .posts .container .left-side .box .cards .card6 .img,
.posts .container .left-side .box .cards .card7 .img, .posts .container .left-side .box .cards .card8 .img, .posts .container .left-side .box .cards .card9 .img {
  background: url("../img/card1.jpg") center center/cover;
  width: 240px;
  height: 150px;
  transition-duration: 0.8s;
}
.posts .container .left-side .box .cards .card1 .img:hover, .posts .container .left-side .box .cards .card2 .img:hover, .posts .container .left-side .box .cards .card3 .img:hover,
.posts .container .left-side .box .cards .card4 .img:hover, .posts .container .left-side .box .cards .card5 .img:hover, .posts .container .left-side .box .cards .card6 .img:hover,
.posts .container .left-side .box .cards .card7 .img:hover, .posts .container .left-side .box .cards .card8 .img:hover, .posts .container .left-side .box .cards .card9 .img:hover {
  background-size: 110%;
}
.posts .container .left-side .box .cards .card1 h4, .posts .container .left-side .box .cards .card2 h4, .posts .container .left-side .box .cards .card3 h4,
.posts .container .left-side .box .cards .card4 h4, .posts .container .left-side .box .cards .card5 h4, .posts .container .left-side .box .cards .card6 h4,
.posts .container .left-side .box .cards .card7 h4, .posts .container .left-side .box .cards .card8 h4, .posts .container .left-side .box .cards .card9 h4 {
  color: #ED435E;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 0;
}
.posts .container .left-side .box .cards .card1 p, .posts .container .left-side .box .cards .card2 p, .posts .container .left-side .box .cards .card3 p,
.posts .container .left-side .box .cards .card4 p, .posts .container .left-side .box .cards .card5 p, .posts .container .left-side .box .cards .card6 p,
.posts .container .left-side .box .cards .card7 p, .posts .container .left-side .box .cards .card8 p, .posts .container .left-side .box .cards .card9 p {
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-left: 2px;
}
.posts .container .left-side .box .cards .card1 p:hover, .posts .container .left-side .box .cards .card2 p:hover, .posts .container .left-side .box .cards .card3 p:hover,
.posts .container .left-side .box .cards .card4 p:hover, .posts .container .left-side .box .cards .card5 p:hover, .posts .container .left-side .box .cards .card6 p:hover,
.posts .container .left-side .box .cards .card7 p:hover, .posts .container .left-side .box .cards .card8 p:hover, .posts .container .left-side .box .cards .card9 p:hover {
  color: #ED435E;
}
.posts .container .left-side .box .cards .card1 .info, .posts .container .left-side .box .cards .card2 .info, .posts .container .left-side .box .cards .card3 .info,
.posts .container .left-side .box .cards .card4 .info, .posts .container .left-side .box .cards .card5 .info, .posts .container .left-side .box .cards .card6 .info,
.posts .container .left-side .box .cards .card7 .info, .posts .container .left-side .box .cards .card8 .info, .posts .container .left-side .box .cards .card9 .info {
  display: flex;
  align-items: center;
  color: #aaaaaa;
  padding: 10px 0;
  margin-left: 2px;
}
.posts .container .left-side .box .cards .card1 .info h5, .posts .container .left-side .box .cards .card2 .info h5, .posts .container .left-side .box .cards .card3 .info h5,
.posts .container .left-side .box .cards .card4 .info h5, .posts .container .left-side .box .cards .card5 .info h5, .posts .container .left-side .box .cards .card6 .info h5,
.posts .container .left-side .box .cards .card7 .info h5, .posts .container .left-side .box .cards .card8 .info h5, .posts .container .left-side .box .cards .card9 .info h5 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}
.posts .container .left-side .box .cards .card1 .info h6, .posts .container .left-side .box .cards .card2 .info h6, .posts .container .left-side .box .cards .card3 .info h6,
.posts .container .left-side .box .cards .card4 .info h6, .posts .container .left-side .box .cards .card5 .info h6, .posts .container .left-side .box .cards .card6 .info h6,
.posts .container .left-side .box .cards .card7 .info h6, .posts .container .left-side .box .cards .card8 .info h6, .posts .container .left-side .box .cards .card9 .info h6 {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 2px;
  font-weight: 400;
}
.posts .container .left-side .box .cards .card2 .img {
  background: url("../img/card2.jpg") center center/cover;
}
.posts .container .left-side .box .cards .card3 .img {
  background: url("../img/card3.jpg") center center/cover;
}
.posts .container .left-side .box .cards .card4 .img {
  background: url("../img/card4.jpg") center center/cover;
}
.posts .container .left-side .box .cards .card5 .img {
  background: url("../img/card5.jpg") center center/cover;
}
.posts .container .left-side .box .cards .card6 .img {
  background: url("../img/card6.jpg") center center/cover;
}
.posts .container .left-side .box .cards .card7 .img {
  background: url("../img/card7.jpg") center center/cover;
}
.posts .container .left-side .box .cards .card8 .img {
  background: url("../img/card8.jpg") center center/cover;
}
.posts .container .left-side .box .cards .card9 .img {
  background: url("../img/card9.jpg") center center/cover;
}
.posts .container .right-side .newsletter {
  margin: 50px 0;
  position: relative;
}
.posts .container .right-side .newsletter h3 {
  margin-bottom: 5px;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 800;
  color: #222936;
  text-transform: uppercase;
}
.posts .container .right-side .newsletter .input {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
}
.posts .container .right-side .newsletter .input p {
  margin: 30px 0;
  color: #aaaaaa;
}
.posts .container .right-side .newsletter .input input {
  padding: 13px 50px 13px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #fff;
}
.posts .container .right-side .newsletter .input input::-moz-placeholder {
  color: grey;
  font-size: 15px;
  font-family: "Open-sense", sans-serif;
}
.posts .container .right-side .newsletter .input input::placeholder {
  color: grey;
  font-size: 15px;
  font-family: "Open-sense", sans-serif;
}
.posts .container .right-side .newsletter .input a {
  background-color: #ED435E;
  padding: 10px 20px;
  margin-top: 20px;
  color: #fff;
  transition: all 0.5s;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  width: 40%;
  text-align: center;
  border-radius: 3px;
}
.posts .container .right-side .newsletter .input a:hover {
  background-color: #fff;
  color: #ED435E;
  border: 1.8px solid #ED435E;
}
.posts .container .right-side .newsletter i {
  position: absolute;
  font-size: 11rem;
  color: rgba(0, 0, 0, 0.02);
  top: 30px;
  right: 80px;
  transform: rotate(20deg);
}
.posts .container .right-side .popular h3 {
  margin-bottom: 5px;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 800;
  color: #222936;
  text-transform: uppercase;
}
.posts .container .right-side .popular .cards {
  margin-top: 30px;
}
.posts .container .right-side .popular .cards .card {
  display: flex;
  align-items: center;
}
.posts .container .right-side .popular .cards .card .img1, .posts .container .right-side .popular .cards .card .img2, .posts .container .right-side .popular .cards .card .img3, .posts .container .right-side .popular .cards .card .img4 {
  background: url("../img/card1.jpg") center center/cover;
  width: 10vw;
  height: 15vh;
  margin: 10px 0;
  cursor: pointer;
}
.posts .container .right-side .popular .cards .card .img1:hover, .posts .container .right-side .popular .cards .card .img2:hover, .posts .container .right-side .popular .cards .card .img3:hover, .posts .container .right-side .popular .cards .card .img4:hover {
  background-size: 110%;
}
.posts .container .right-side .popular .cards .card .img2 {
  background: url("../img/card3.jpg") center center/cover;
}
.posts .container .right-side .popular .cards .card .img3 {
  background: url("../img/card6.jpg") center center/cover;
}
.posts .container .right-side .popular .cards .card .img4 {
  background: url("../img/card4.jpg") center center/cover;
}
.posts .container .right-side .popular .cards .card .info {
  margin-left: 15px;
}
.posts .container .right-side .popular .cards .card .info h4 {
  color: #ED435E;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 0;
}
.posts .container .right-side .popular .cards .card .info p {
  width: 220px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}
.posts .container .right-side .popular .cards .card .info p:hover {
  color: #ED435E;
}

/**Three Cards Section Style**/
.three-cards {
  margin-top: 120px;
  font-family: "Roboto", sans-serif;
}
.three-cards .container {
  display: flex;
  justify-content: center;
}
.three-cards .container .card h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #1B1C1E;
  margin-left: 22px;
}
.three-cards .container .card .card1, .three-cards .container .card .card2, .three-cards .container .card .card3 {
  padding: 20px;
  cursor: pointer;
}
.three-cards .container .card .card1 .img1, .three-cards .container .card .card2 .img1, .three-cards .container .card .card3 .img1 {
  background: url("https://images.pexels.com/photos/1271619/pexels-photo-1271619.jpeg") center center/cover;
  width: 25vw;
  height: 35vh;
  transition: all 0.5s;
}
.three-cards .container .card .card1 .img1:hover, .three-cards .container .card .card2 .img1:hover, .three-cards .container .card .card3 .img1:hover {
  background-size: 120%;
}
.three-cards .container .card .card1 .img2, .three-cards .container .card .card2 .img2, .three-cards .container .card .card3 .img2 {
  background: url("https://images.pexels.com/photos/919734/pexels-photo-919734.jpeg") center center/cover;
  width: 25vw;
  height: 35vh;
  transition: all 0.5s;
}
.three-cards .container .card .card1 .img2:hover, .three-cards .container .card .card2 .img2:hover, .three-cards .container .card .card3 .img2:hover {
  background-size: 120%;
}
.three-cards .container .card .card1 .img3, .three-cards .container .card .card2 .img3, .three-cards .container .card .card3 .img3 {
  background: url("https://images.pexels.com/photos/3076509/pexels-photo-3076509.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center center/cover;
  width: 25vw;
  height: 35vh;
  transition: all 0.5s;
}
.three-cards .container .card .card1 .img3:hover, .three-cards .container .card .card2 .img3:hover, .three-cards .container .card .card3 .img3:hover {
  background-size: 120%;
}
.three-cards .container .card .card1 .desc, .three-cards .container .card .card2 .desc, .three-cards .container .card .card3 .desc {
  background-color: #fff;
  position: relative;
  bottom: 50px;
  left: 20px;
  padding: 20px;
  width: 25vw;
}
.three-cards .container .card .card1 .desc h4, .three-cards .container .card .card2 .desc h4, .three-cards .container .card .card3 .desc h4 {
  color: #ED435E;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 0;
}
.three-cards .container .card .card1 .desc p, .three-cards .container .card .card2 .desc p, .three-cards .container .card .card3 .desc p {
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-left: 2px;
}
.three-cards .container .card .card1 .desc p:hover, .three-cards .container .card .card2 .desc p:hover, .three-cards .container .card .card3 .desc p:hover {
  color: #ED435E;
}
.three-cards .container .card .card1 .desc .info, .three-cards .container .card .card2 .desc .info, .three-cards .container .card .card3 .desc .info {
  display: flex;
  align-items: center;
  color: #aaaaaa;
  padding: 10px 0;
  margin-left: 2px;
}
.three-cards .container .card .card1 .desc .info h5, .three-cards .container .card .card2 .desc .info h5, .three-cards .container .card .card3 .desc .info h5 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}
.three-cards .container .card .card1 .desc .info h6, .three-cards .container .card .card2 .desc .info h6, .three-cards .container .card .card3 .desc .info h6 {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 2px;
  font-weight: 400;
}

/*****Nine Cards Section*****/
.nine-cards .cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  gap: 10px;
}
.nine-cards .cards .card {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.nine-cards .cards .card .img1, .nine-cards .cards .card .img2, .nine-cards .cards .card .img3,
.nine-cards .cards .card .img4, .nine-cards .cards .card .img5, .nine-cards .cards .card .img6,
.nine-cards .cards .card .img7, .nine-cards .cards .card .img8, .nine-cards .cards .card .img9 {
  background: url("../img/nine-card1.jpg") center center/cover;
  width: 10vw;
  height: 14vh;
  margin: 10px 0;
  cursor: pointer;
}
.nine-cards .cards .card .img1:hover, .nine-cards .cards .card .img2:hover, .nine-cards .cards .card .img3:hover,
.nine-cards .cards .card .img4:hover, .nine-cards .cards .card .img5:hover, .nine-cards .cards .card .img6:hover,
.nine-cards .cards .card .img7:hover, .nine-cards .cards .card .img8:hover, .nine-cards .cards .card .img9:hover {
  background-size: 110%;
}
.nine-cards .cards .card .img2 {
  background: url("../img/nine-card2.jpg") center center/cover;
}
.nine-cards .cards .card .img3 {
  background: url("../img/nine-card3.jpg") center center/cover;
}
.nine-cards .cards .card .img4 {
  background: url("../img/nine-card4.jpg") center center/cover;
}
.nine-cards .cards .card .img5 {
  background: url("../img/nine-card5.jpg") center center/cover;
}
.nine-cards .cards .card .img5 {
  background: url("../img/nine-card5.jpg") center center/cover;
}
.nine-cards .cards .card .img6 {
  background: url("../img/nine-card6.jpg") center center/cover;
}
.nine-cards .cards .card .img7 {
  background: url("../img/nine-card7.jpg") center center/cover;
}
.nine-cards .cards .card .img8 {
  background: url("../img/nine-card8.jpg") center center/cover;
}
.nine-cards .cards .card .img9 {
  background: url("../img/nine-card9.jpg") center center/cover;
}
.nine-cards .cards .card .info {
  margin-left: 15px;
}
.nine-cards .cards .card .info h4 {
  color: #ED435E;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 0;
}
.nine-cards .cards .card .info p {
  width: 220px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}
.nine-cards .cards .card .info p:hover {
  color: #ED435E;
}

.footer-info {
  font-family: "Open Sans", sans-serif;
  background: #1B1C1E;
  height: 80vh;
}
.footer-info .first-row {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 70px;
}
.footer-info .first-row p {
  font-size: medium;
  font-weight: 500;
  color: #aaaaaa;
  padding: 30px;
}
.footer-info .first-row .social-media {
  display: flex;
  gap: 10px;
  color: #fff;
  margin-left: 30px;
}
.footer-info .first-row .social-media .fb {
  background: #3a3afc;
  padding: 10px 12px;
  border-radius: 50%;
  cursor: pointer;
}
.footer-info .first-row .social-media .x {
  background: #1DA1F2;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.footer-info .first-row .social-media .gp {
  background: rgb(219, 85, 85);
  padding: 10px 8px;
  border-radius: 50%;
  cursor: pointer;
}
.footer-info .first-row .social-media .insta {
  background: #f571e5;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.footer-info .first-row .title-footer {
  font-size: medium;
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
  margin-left: 20px;
}
.footer-info .first-row li {
  cursor: pointer;
  color: #aaaaaa;
  margin: 20px;
  font-weight: 600;
}
.footer-info .first-row li span {
  float: right;
  font-size: 14px;
  margin-left: 15px;
}
.footer-info .first-row li:hover {
  color: #ED435E;
}
.footer-info .first-row .third-col button {
  padding: 10px;
  margin: 3px;
  color: #aaaaaa;
  background: rgba(110, 109, 109, 0.5490196078);
  border: none;
  border-radius: 2px;
}
.footer-info .first-row .third-col button:hover {
  cursor: pointer;
  background: rgb(219, 85, 85);
  color: #fff;
}
.footer-info .first-row .fourth-col .newsletter .title-footer {
  font-size: medium;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.footer-info .first-row .fourth-col .newsletter .input p {
  color: #aaaaaa;
  font-size: large;
  font-weight: 500;
}
.footer-info .first-row .fourth-col .newsletter .input input {
  padding: 13px 50px 13px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 20px;
}
.footer-info .first-row .fourth-col .newsletter .input input::-moz-placeholder {
  color: grey;
  font-size: 15px;
  font-family: "Open-sense", sans-serif;
}
.footer-info .first-row .fourth-col .newsletter .input input::placeholder {
  color: grey;
  font-size: 15px;
  font-family: "Open-sense", sans-serif;
}
.footer-info .first-row .fourth-col .newsletter .input a {
  background-color: #ED435E;
  padding: 10px 20px;
  margin-top: 20px;
  color: #fff;
  transition: all 0.5s;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  width: 40%;
  text-align: center;
  border-radius: 3px;
}
.footer-info .first-row .fourth-col .newsletter .input a:hover {
  background-color: #fff;
  color: #ED435E;
  border: 1.8px solid #ED435E;
}
.footer-info .first-row .fourth-col .newsletter i {
  position: absolute;
  font-size: 11rem;
  color: rgba(0, 0, 0, 0.02);
  top: 30px;
  right: 80px;
  transform: rotate(20deg);
}
.footer-info .second-row {
  margin: 30px;
}
.footer-info .second-row .copyright {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 300px;
}
.footer-info .second-row .copyright .copyright-section {
  color: #aaaaaa;
  margin: 0 80px;
}
.footer-info .second-row .copyright .link-section li {
  display: inline;
  list-style: none;
  color: #aaaaaa;
  justify-content: space-between;
  font-size: medium;
  margin: 0 15px;
  font-weight: 400;
  cursor: pointer;
}
.footer-info .second-row .copyright .link-section li:hover {
  color: #ED435E;
}/*# sourceMappingURL=style.css.map */