/*****General Code*****/
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 10000px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::-moz-selection {
  color: #fff;
  background: #ED435E;
}

::selection {
  color: #fff;
  background: #ED435E;
}

/*****colors****/
/******Fonts****/
.recent-posts {
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
}
.recent-posts .recent-posts-container {
  display: grid;
  margin-left: 160px;
}
.recent-posts .recent-posts-container .left {
  width: 50%;
}
.recent-posts .recent-posts-container .left .rp-box {
  display: grid;
  gap: 50px;
}
.recent-posts .recent-posts-container .left .rp-box h3 {
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 800;
  color: #222936;
  text-transform: uppercase;
  margin: 30px 0 10px 0;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 45%);
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 {
  padding: 15px;
  cursor: pointer;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1 .rp-img1, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2 .rp-img1, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3 .rp-img1,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 .rp-img1 {
  background: url("https://images.pexels.com/photos/1271619/pexels-photo-1271619.jpeg") center center/cover;
  width: 25vw;
  height: 35vh;
  transition: all 0.5s;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1 .rp-img1:hover, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2 .rp-img1:hover, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3 .rp-img1:hover,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 .rp-img1:hover {
  background-size: 120%;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1 .rp-img2, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2 .rp-img2, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3 .rp-img2,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 .rp-img2 {
  background: url("https://images.pexels.com/photos/919734/pexels-photo-919734.jpeg") center center/cover;
  width: 25vw;
  height: 35vh;
  transition: all 0.5s;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1 .rp-img2:hover, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2 .rp-img2:hover, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3 .rp-img2:hover,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 .rp-img2:hover {
  background-size: 120%;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1 .rp-img3, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2 .rp-img3, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3 .rp-img3,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 .rp-img3 {
  background: url("https://images.pexels.com/photos/3076509/pexels-photo-3076509.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center center/cover;
  width: 25vw;
  height: 35vh;
  transition: all 0.5s;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1 .rp-img3:hover, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2 .rp-img3:hover, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3 .rp-img3:hover,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 .rp-img3:hover {
  background-size: 120%;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1 .rp-img4, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2 .rp-img4, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3 .rp-img4,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 .rp-img4 {
  background: url("https://images.pexels.com/photos/1034940/pexels-photo-1034940.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center center/cover;
  width: 25vw;
  height: 35vh;
  transition: all 0.5s;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1 .rp-img4:hover, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2 .rp-img4:hover, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3 .rp-img4:hover,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 .rp-img4:hover {
  background-size: 120%;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1 .desc, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2 .desc, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3 .desc,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 .desc {
  background-color: #fff;
  position: relative;
  bottom: 50px;
  left: 20px;
  padding: 20px;
  width: 25vw;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1 .desc h4, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2 .desc h4, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3 .desc h4,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 .desc h4 {
  color: #ED435E;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 0;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1 .desc p, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2 .desc p, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3 .desc p,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 .desc p {
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-left: 2px;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1 .desc p:hover, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2 .desc p:hover, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3 .desc p:hover,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 .desc p:hover {
  color: #ED435E;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1 .desc .info, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2 .desc .info, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3 .desc .info,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 .desc .info {
  display: flex;
  align-items: center;
  color: #aaaaaa;
  padding: 10px 0;
  margin-left: 2px;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1 .desc .info h5, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2 .desc .info h5, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3 .desc .info h5,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 .desc .info h5 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card1 .desc .info h6, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card2 .desc .info h6, .recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card3 .desc .info h6,
.recent-posts .recent-posts-container .left .rp-box .recent-ps-cards .rp-card4 .desc .info h6 {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 2px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */