
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 10000px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::-moz-selection {
  color: #fff;
  background: #ED435E;
}

::selection {
  color: #fff;
  background: #ED435E;
}

/*****colors****/
/******Fonts****/
/******NavBar Section Style******/
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .top-side {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 10px;
}
.header .top-side .links i {
  padding: 0 10px;
  transition: all 0.4s;
  cursor: pointer;
}
.header .top-side .links i:hover {
  color: #ED435E;
}
.header .top-side .logo {
  margin-right: 150px;
  cursor: pointer;
}
.header .top-side .logo img {
  width: 100%;
  height: 45px;
}
.header .top-side .search {
  cursor: pointer;
}
.header .top-side .search .search-input {
  background-color: #1B1C1E;
  width: 50vw;
  height: 15vh;
  position: absolute;
  transform: translateX(-125%);
  top: 65px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
.header .top-side .search .search-input input {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 20px 480px 20px 20px;
  margin: 25px 55px;
}
.header .top-side .search .search-input input::-moz-placeholder {
  font-size: 17px;
}
.header .top-side .search .search-input input::placeholder {
  font-size: 17px;
}
.header .top-side .search .search-input .clear-icon i {
  color: #e4e4e4;
  position: absolute;
  bottom: 85px;
  right: 5px;
  font-size: 20px;
}
.header .top-side .search:hover .search-input {
  visibility: visible;
}
.header .bottom-side {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 10px;
  width: 100%;
}
.header .bottom-side .nav {
  margin: 10px 0;
}
.header .bottom-side .nav ul {
  display: flex;
  justify-content: center;
}
.header .bottom-side .nav ul li {
  padding: 0 20px;
}
.header .bottom-side .nav ul li a {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.4s;
}
.header .bottom-side .nav ul li a:hover {
  color: #ED435E;

}

/**Hero Section Style**/
.hero {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
}
.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hero .container .left-side {
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.8)), url("../img/pexels-koolshooters-8530484.jpg") center center/cover;
  width: 52vw;
  height: 70.7vh;
  cursor: pointer;
  background-position: center/cover;
  background-repeat: no-repeat;
  transition: ease-in-out 2s;
  animation-duration: 0.5s;
  scroll-behavior: smooth;
}
.hero .container .left-side:hover {
  transition: 0.5s;
  background-size: 180%;
}
.hero .container .left-side .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 40px;
  gap: 10px;
}
.hero .container .left-side .container h5 {
  color: #ED435E;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.hero .container .left-side .container h2 {
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
}
.hero .container .left-side .container h2:hover {
  color: #ED435E;
}
.hero .container .left-side .container .info {
  display: flex;
  align-items: center;
  color: #fff;
}
.hero .container .left-side .container .info h4 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
}
.hero .container .left-side .container .info h6 {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 2px;
  font-weight: 400;
}
.hero .container .right-side {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hero .container .right-side .top-side {
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("../img/pexels-ton-souza-4596468.jpg") center top/cover;
  width: 26vw;
  height: 35vh;
  transition: all 0.5s;
  cursor: pointer;
}
.hero .container .right-side .top-side:hover {
  transform: scale(1.03);
  border-left: 3px solid #fff;
}
.hero .container .right-side .top-side .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
  gap: 10px;
}
.hero .container .right-side .top-side .container h5 {
  color: #ED435E;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.hero .container .right-side .top-side .container h2 {
  color: #fff;
  font-size: 19px;
  letter-spacing: 1px;
}
.hero .container .right-side .top-side .container h2:hover {
  color: #ED435E;
}
.hero .container .right-side .top-side .container .info {
  display: flex;
  align-items: center;
  color: #fff;
}
.hero .container .right-side .top-side .container .info h4 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
}
.hero .container .right-side .top-side .container .info h6 {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 2px;
  font-weight: 400;
}
.hero .container .right-side .bottom-side {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgb(0, 0, 0)), url("../img/Hero-3.webp") center center/cover;
  width: 26vw;
  height: 35vh;
  transition: all 0.5s;
  cursor: pointer;
}
.hero .container .right-side .bottom-side:hover {
  transform: scale(1.01);
  box-shadow: none;
}
.hero .container .right-side .bottom-side .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 30px 20px;
  gap: 10px;
}
.hero .container .right-side .bottom-side .container h5 {
  color: #ED435E;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.hero .container .right-side .bottom-side .container h2 {
  color: #fff;
  font-size: 19px;
  letter-spacing: 1px;
}
.hero .container .right-side .bottom-side .container h2:hover {
  color: #ED435E;
}
.hero .container .right-side .bottom-side .container .info {
  display: flex;
  align-items: center;
  color: #fff;
}
.hero .container .right-side .bottom-side .container .info h4 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
}
.hero .container .right-side .bottom-side .container .info h6 {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 2px;
  font-weight: 400;

}


.posts {
  margin-top: 500px;
  font-family: "Roboto", sans-serif;
}
.posts .container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.posts .container .left-side {
  width: 50%;
}
.posts .container .left-side .box {
  display: flex;
  flex-direction: column;
}
.posts .container .left-side .box h3 {
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 800;
  color: #222936;
  text-transform: uppercase;
  margin: 30px 0 10px 0;
}
.posts .container .left-side .box .cards {
  display: flex;
  justify-content: center;
}
.posts .container .left-side .box .cards .card1, .posts .container .left-side .box .cards .card2, .posts .container .left-side .box .cards .card3,
.posts .container .left-side .box .cards .card4, .posts .container .left-side .box .cards .card5, .posts .container .left-side .box .cards .card6,
.posts .container .left-side .box .cards .card7, .posts .container .left-side .box .cards .card8, .posts .container .left-side .box .cards .card9 {
  padding: 15px;
  cursor: pointer;
}
.posts .container .left-side .box .cards .card1 .img, .posts .container .left-side .box .cards .card2 .img, .posts .container .left-side .box .cards .card3 .img,
.posts .container .left-side .box .cards .card4 .img, .posts .container .left-side .box .cards .card5 .img, .posts .container .left-side .box .cards .card6 .img,
.posts .container .left-side .box .cards .card7 .img, .posts .container .left-side .box .cards .card8 .img, .posts .container .left-side .box .cards .card9 .img {
  background: url("../img/card1.webp") center center/cover;
  width: 240px;
  height: 150px;
  transition-duration: 0.8s;
}
.posts .container .left-side .box .cards .card1 .img:hover, .posts .container .left-side .box .cards .card2 .img:hover, .posts .container .left-side .box .cards .card3 .img:hover,
.posts .container .left-side .box .cards .card4 .img:hover, .posts .container .left-side .box .cards .card5 .img:hover, .posts .container .left-side .box .cards .card6 .img:hover,
.posts .container .left-side .box .cards .card7 .img:hover, .posts .container .left-side .box .cards .card8 .img:hover, .posts .container .left-side .box .cards .card9 .img:hover {
  background-size: 110%;
}
.posts .container .left-side .box .cards .card1 h4, .posts .container .left-side .box .cards .card2 h4, .posts .container .left-side .box .cards .card3 h4,
.posts .container .left-side .box .cards .card4 h4, .posts .container .left-side .box .cards .card5 h4, .posts .container .left-side .box .cards .card6 h4,
.posts .container .left-side .box .cards .card7 h4, .posts .container .left-side .box .cards .card8 h4, .posts .container .left-side .box .cards .card9 h4 {
  color: #ED435E;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 0;
}
.posts .container .left-side .box .cards .card1 p, .posts .container .left-side .box .cards .card2 p, .posts .container .left-side .box .cards .card3 p,
.posts .container .left-side .box .cards .card4 p, .posts .container .left-side .box .cards .card5 p, .posts .container .left-side .box .cards .card6 p,
.posts .container .left-side .box .cards .card7 p, .posts .container .left-side .box .cards .card8 p, .posts .container .left-side .box .cards .card9 p {
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-left: 2px;
}
.posts .container .left-side .box .cards .card1 p:hover, .posts .container .left-side .box .cards .card2 p:hover, .posts .container .left-side .box .cards .card3 p:hover,
.posts .container .left-side .box .cards .card4 p:hover, .posts .container .left-side .box .cards .card5 p:hover, .posts .container .left-side .box .cards .card6 p:hover,
.posts .container .left-side .box .cards .card7 p:hover, .posts .container .left-side .box .cards .card8 p:hover, .posts .container .left-side .box .cards .card9 p:hover {
  color: #ED435E;
}
.posts .container .left-side .box .cards .card1 .info, .posts .container .left-side .box .cards .card2 .info, .posts .container .left-side .box .cards .card3 .info,
.posts .container .left-side .box .cards .card4 .info, .posts .container .left-side .box .cards .card5 .info, .posts .container .left-side .box .cards .card6 .info,
.posts .container .left-side .box .cards .card7 .info, .posts .container .left-side .box .cards .card8 .info, .posts .container .left-side .box .cards .card9 .info {
  display: flex;
  align-items: center;
  color: #aaaaaa;
  padding: 10px 0;
  margin-left: 2px;
}
.posts .container .left-side .box .cards .card1 .info h5, .posts .container .left-side .box .cards .card2 .info h5, .posts .container .left-side .box .cards .card3 .info h5,
.posts .container .left-side .box .cards .card4 .info h5, .posts .container .left-side .box .cards .card5 .info h5, .posts .container .left-side .box .cards .card6 .info h5,
.posts .container .left-side .box .cards .card7 .info h5, .posts .container .left-side .box .cards .card8 .info h5, .posts .container .left-side .box .cards .card9 .info h5 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}
.posts .container .left-side .box .cards .card1 .info h6, .posts .container .left-side .box .cards .card2 .info h6, .posts .container .left-side .box .cards .card3 .info h6,
.posts .container .left-side .box .cards .card4 .info h6, .posts .container .left-side .box .cards .card5 .info h6, .posts .container .left-side .box .cards .card6 .info h6,
.posts .container .left-side .box .cards .card7 .info h6, .posts .container .left-side .box .cards .card8 .info h6, .posts .container .left-side .box .cards .card9 .info h6 {
  font-size: 12px;
  padding-left: 10px;
  margin-top: 2px;
  font-weight: 400;
}
.posts .container .left-side .box .cards .card2 .img {
  background: url("../img/card2.webp") center center/cover;
}
.posts .container .left-side .box .cards .card3 .img {
  background: url("../img/card3.webp") center center/cover;
}
.posts .container .left-side .box .cards .card4 .img {
  background: url("../img/card4.webp") center center/cover;
}
.posts .container .left-side .box .cards .card5 .img {
  background: url("../img/card5.webp") center center/cover;
}
.posts .container .left-side .box .cards .card6 .img {
  background: url("../img/card6.webp") center center/cover;
}
.posts .container .left-side .box .cards .card7 .img {
  background: url("../img/card7.webp") center center/cover;
}
.posts .container .left-side .box .cards .card8 .img {
  background: url("../img/card8.webp") center center/cover;
}
.posts .container .left-side .box .cards .card9 .img {
  background: url("../img/card9.webp") center center/cover;
}


}
